streamlit
PyMuPDF
mysql-connector-python  # For 'import mysql.connector'
groq                    # For 'from groq import Groq'
pydantic                # For 'from pydantic import BaseModel, Field'
